

table {
    margin-left: 40px;
    padding: 10px;
    flex-wrap: nowrap;
    border: solid black;
    width: 50%;
    text-align: center;
    justify-content: center;
    background-color: lawngreen;
    color: white;
    margin: 20px;
}

 tr {
    background-color: darkmagenta;
    border: solid red;
    text-align: center;
}

 td {
    margin: 40px;
    padding: 20px;
    flex-wrap: nowrap;
    border: solid black;
    text-align: center;
    background-color: black;

}



